---
import Layout from "./Layout.astro";

interface Props {
    title: string;
    description: string;
    date: string;
    preamble?: string;
}

const { title, date, description, preamble = "" } = Astro.props;

const dateOptions: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
};

const formattedDate = new Date(date).toLocaleDateString("en-US", dateOptions);

const structuredData = {
    "@context": "https://schema.org",
    "@type": "Article",
    headline: title,
    description,
    datePublished: new Date(date).toISOString(),
    author: [
        {
            "@type": "Person",
            name: "Markus Finell",
            url: "https://finell.dev",
        },
    ],
};
---

<Layout title={title}>
    <script
        slot="structured-data"
        type="application/ld+json"
        set:html={JSON.stringify(structuredData)}
    />
    <div class="region flow wrapper content">
        <h1>{title}</h1>
        {preamble ? <p class="size-lg">{preamble}</p> : ''}
        <slot />
        <p>
            <small>
                Published on <time datetime={date}>{formattedDate}</time>
            </small>
        </p>
    </div>
</Layout>
