---
import "../css/app.css";

const {title = '', bodyClass = ''} = Astro.props;
const myName = 'Markus Finell';
const myInitial = 'M';
const myTitle = 'Web Developer';
const siteTitle = `${title ? `${title} | ` : ''}${myName} - ${myTitle}`;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>

    <slot name="structured-data" />
  </head>
  <body class={bodyClass}>
    <header>
      <div class="pb repel items-center">
        <a href="/" class="logo" data-hover={myInitial}>
          <span class="name">{myName}</span>
          <span class="title">{myTitle}</span>
        </a>
        <nav class="size-lg">
          <ul class="cluster" role="list">
            <li><a href="/">Home</a></li>
            <li><a href="/words">Words</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="region">
        <p>
          Find me on <a rel="me" href="https://bsky.app/profile/finell.dev">Bluesky</a>
        </p>
      </div>
    </footer>

    <script src="../js/script.js"></script>
  </body>
</html>