---
import Layout from "./Layout.astro";
import Blocks from "../components/Blocks.astro";

const { post } = Astro.props;
---

<Layout title={post.post_title} metaDesc={post.post_excerpt}>
  <article class="wrapper">
    <h1>{post.post_title}</h1>
    <datetime>{post.post_date}</datetime>
    <Blocks blocks={post.block_content} />
  </article>
</Layout>
